/*Importação das fontes*/
@import url('https://fonts.cdnfonts.com/css/the-amazing-spider-man');
/*IMPORT do título*/
@import url('https://fonts.cdnfonts.com/css/amazing-spider-man');
/*IMPORT da dont do subtítulo*/
@import url('https://fonts.cdnfonts.com/css/alderlite-personal-use');

/*IMPORT da font da do parágrafo*/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(177, 18, 18);
}

header {
    background-color: #1d2750;
}

/* section onde contém os cards */
#personagem {
    background-color: rgb(50, 16, 127);
    padding: 50px 20px 50px 20px;
}

/* título da section */
#personagem h2 {
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* alterações do estilo do card */
.container-personagem {
    /*Ativar display do tipo flexbox*/
    display: flex;
    /*Permite quebrar a linha se não houver espaço suficiente*/
    flex-wrap: wrap;
    /*serve para criar um espaçamento sobre todos os itens*/
    gap: 30px;
    /* Centralizar os cards no eixo principal */
    flex-direction: row;
    justify-content: center;
    /*Deixa todos os itens do mesmo tamanho*/
    align-items: stretch;
}

.item {
    width: 250px;
    background-color: #8c5bfdc4;
    border-radius: 10px;
    padding: 20px;
    /*ativar o flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

.item:hover {
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 15px;
    padding: 20px;
    box-shadow: 0px 4px 23px 20px #000000;
    background-color: rgb(187, 17, 17, 0.877);
    border-radius: 10px;
    transform: translateY(-20px);
    transition: 0.5s;
    cursor: pointer;
}

.item:active {
    background-color: #4c00ffc4;
}

.item img {
    width: 220px;
    object-fit: contain;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

/* Estilo do meu parágrafo */
.item p {
    text-align: left;
    color: #1d2750;
    font-weight: bold;
    margin-bottom: 10px;
}

.item h3 {
    font-size: 20px;
}

.tags {
    display: flex;
    /*quebra de linha */
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    color: aliceblue;
}

.tag {
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    background-color: black;
}

.noir {
    background-color: #1d2750;
}

.miles-morales {
    background-color: crimson;
}

.peni {
    background-color: rgb(207, 207, 30);
}

.porco {
    background-color: salmon;
}

.miguel {
    background-color: rgb(14, 14, 179);
}

.gwen {
    background-color: rgb(201, 74, 95);
}

.peter {
    background-color: rgb(151, 2, 2);
}

.brown {
    background-color: rgb(121, 42, 5);
}

/* Responsivo */

@media (max-width: 600px) {
    #personagem h2 {
        font-size: 50px;
    }
}
@media (max-width: 600px) {
    .item {
        width: 600px;
    }
}
@media (max-width: 600px) {
    .item img {
        padding: 10px;
        width: 295px;
    }
}
@media (max-width: 600px) {
    .item:hover {
        width: 600px;
    }
}